
<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                @ViewBag.certificates
            </div>
            <h4>Ulaşılan Sertifikalar</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.cupsOfCoffes
            </div>
            <h4>Kupa Kahve</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                @ViewBag.projects
            </div>
            <h4>Bitirilen Projeler</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.skills
            </div>
            <h4>Yetenekler</h4>
        </div>

    </div>
</section>